
.App {
  text-align: center;
  /*min-width: 300px;
  max-width: 700px;*/
  margin: 0 auto;
}

.App-header a:link, .App-header a:visited,
.App-header a:hover, .App-header a:active {
	color: rgb(190, 246, 250);
}

.App-footer a:link, .App-footer a:visited,
.App-footer a:hover, .App-footer a:active {
	color: rgb(190, 246, 250);;
}

 a:link, a:visited,
 a:hover, a:active {
	text-decoration: none;
  color: #000;
}

.App-header {
  margin: 0 auto 35px auto;
  background-color: #fff;
  height: 80px;
  padding: 10px;
  color: #444;
  min-width: 300px;
  max-width: 700px;
  box-shadow: 0px 10px 10px -5px rgb(120, 120, 120);
}

.App-header h1 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
}

.App-footer {
  margin: 35px auto;
  background-color: #fff;
  height: 40px;
  padding: 10px;
  color: #44;
  min-width: 300px;
  max-width: 700px;
  box-shadow: 0px -10px 10px -5px rgb(120, 120, 120);
}

.fcc-title {
  font-size: .8em;
  font-weight: 100;
}

.project-title {
  font-size: 1.2em;
  font-weight: 100;
}


.subtitle {
  margin-top: 2px;
  font: 1em Courier, monospace;
  margin-bottom: 20px;
}

.github {
  text-align: center;
  font-weight: 100;

}

.board {
  margin: 20px auto;
  white-space: nowrap;
}

.cell {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 1px solid #fff;
}

.cell-row {
  margin: 0 auto;
  padding: 0;
  /* Remove vertical space around rows */
  line-height: 0px;

}

.alive {
  background-color: #000;
}

.dead {
  /*background-color: rgb(70, 200, 200);*/
  background-color: rgb(230, 230, 230);
}

.generation-count-container {
  display: inline-block;
  overflow: hidden;
}

.generation-counter {
  width: 3.5em;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  border: 2px solid rgb(70, 70, 70);
  border-radius: 10px;
  font-family: 'Orbitron', sans-serif;
  font-size: .8em;
  color: rgb(220, 40, 40);
  background-color: #000;
  display: inline-block;
  /*overflow: hidden;*/
}

.generation-counter-label {
  font-family: 'Orbitron', sans-serif;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 570px) {
  .App-header {
    height: 50px;
  }
  .App-header h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  .cell {
    width: 8px;
    height: 8px;
  }
}
@media (max-width: 430px) {
  .App-header h1 {
    font-size: 1em;
  }
  .cell {
    width: 5px;
    height: 5px;
  }
}
