
.App {
  text-align: center;
  /*min-width: 300px;
  max-width: 700px;*/
  margin: 0 auto;
}

.App-header a:link, .App-header a:visited,
.App-header a:hover, .App-header a:active {
	color: rgb(190, 246, 250);
}

.App-footer a:link, .App-footer a:visited,
.App-footer a:hover, .App-footer a:active {
	color: rgb(190, 246, 250);;
}

 a:link, a:visited,
 a:hover, a:active {
	text-decoration: none;
  color: #000;
}

.App-header {
  margin: 0 auto;
  background-color: #444;
  height: 110px;
  padding: 10px;
  color: white;
  min-width: 300px;
  max-width: 700px;
}

.App-header h1 {
  margin-top: 0;
  margin-bottom: 2px;
  font-family: 'Cherry Swash', cursive;
}

.App-footer {
  margin: 10px auto;
  background-color: #444;
  height: 40px;
  padding: 10px;
  color: white;
  min-width: 300px;
  max-width: 700px;
}

.fcc-title {
  font-size: .8em;
  font-weight: 100;
}

.project-title {
  font-size: 1.2em;
  font-weight: 100;
}


.subtitle {
  margin-top: 2px;
  font: 1em Courier, monospace;
}

.github {
  text-align: center;
  font-weight: 100;
}

.board {
  min-width: 600px;
  margin: 20px 0;
}

.cell {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 1px solid #fff;
}

.cell-row {
  margin: 0;
  padding: 0;
  /* Remove vertical space around rows */
  line-height: 0px;

}

.alive {
  background-color: #000;
}

.dead {
  /*background-color: rgb(70, 200, 200);*/
  background-color: rgb(230, 230, 230);
}
