.App {
  text-align: center;
  margin: 0 auto;
  background: #fff;
}

/*.App-header a:link, .App-header a:visited,
.App-header a:hover, .App-header a:active {
	color: rgb(0, 60, 60);
}

.App-footer a:link, .App-footer a:visited,
.App-footer a:hover, .App-footer a:active {
	color: rgb(0, 60, 60);
}*/

p {
  margin-top: 0;
  padding: 0 10px;
}

 a:link, a:visited,
 a:hover, a:active {

  color: #8CE6F0;
}

.App-header {
  margin: 0 auto 20px auto;
  background-color: #333;
  height: 80px;
  padding: 10px;
  color: #444;
  min-width: 300px;
  max-width: 700px;
  box-shadow: 0px 10px 10px -5px rgb(120, 120, 120);
}

.App-header h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
  color: #C88CF0;
}

.App-footer {
  margin: 35px auto 20px auto;
  background-color: #333;
  padding: 10px;
  color: #C88CF0;
  min-width: 300px;
  max-width: 700px;
  box-shadow: 0px -10px 10px -5px rgb(120, 120, 120);
}

.fcc-title {
  font-size: .8em;
  font-weight: 100;
}

/*.project-title {
  font-size: 1.2em;
  font-weight: 100;
}*/


.subtitle {
  margin-top: 2px;
  font: 1em Courier, monospace;
  margin-bottom: 20px;
}

.github {
  text-align: center;
  color: #fff;
}

.board {
  margin: 20px auto;
  white-space: nowrap;
  overflow: auto;
}

.cell {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 1px solid #fff;
}

.cell-row {
  margin: 0 auto;
  padding: 0;
  /* Remove vertical space around rows */
  line-height: 0px;

}

.alive {
  background-color: #000;
}

.dead {
  /*background-color: rgb(70, 200, 200);*/
  background-color: rgb(230, 230, 230);
}

.generation-count-container {
  display: inline-block;
  overflow: hidden;
}

.generation-counter {
  width: 3.5em;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  border: 2px solid rgb(70, 70, 70);
  border-radius: 10px;
  font-family: 'Orbitron', sans-serif;
  font-size: .8em;
  color: #8CE6F0;
  background-color: #000;
  display: inline-block;
}

.generation-counter-label {
  font-family: 'Orbitron', sans-serif;
  display: inline-block;
  vertical-align: middle;
}



.control-panel {
  margin-top: 15px;
  font-size: .7em;
}

.legend {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}

.controls {
  padding-top: 10px;
  vertical-align: top;
  width: 80%;
  max-width: 300px;
  min-width: 220px;
  margin: 0 auto;
  border: 3px solid rgb(99, 99, 99);
}

.control-group {
  margin-bottom: 10px;
  font-weight: bold;
}

.slider {
  position: relative;
  top: 3px;
  left: 5px;
}

.select-control {
  margin-left: 10px;
  margin-right: 10px;
}

.grid-size {
  padding-left: 10px;
}

.btn {
  outline: 0;
  width: 80px;
  height: 30px;
  background-color: #F0968C;
  border-radius: 5px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.show-instuctions-button {
  width: auto;
}

/* Transition Styles for React CSS Transition Group */

.instructions-mask {
  position: fixed;
  /*top: 0px;*/
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(150, 150, 150, .9);
  margin: 0 auto;
}

.instructions {
  margin: 30px auto;
  padding: 10px;
  width: 80%;
  color: #000;
  background-color: #fff;
  border-radius: 20px;
  min-width: 300px;
  max-width: 700px;
}

.instructions ol,
.instructions ul,
.instructions p {
  text-align: left;
}

.instructions-transition-enter {
  opacity: 0.01;
  top: -20px;

}

.instructions-transition-enter.instructions-transition-enter-active {
  opacity: 1;
  top: 0px;
  transition: opacity 500ms ease-in,
              top 500ms ease-in;
}

.instructions-transition-leave {
  opacity: 1;
  top: 0px;
}

.instructions-transition-leave.instructions-transition-leave-active {
  opacity: 0.01;
  top: -20px;
  transition: opacity 500ms ease-in,
              top 500ms ease-in;
}



@media (max-width: 570px) {
  .App-header {
    height: 80px;
  }
  .App-header h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  .cell {
    width: 8px;
    height: 8px;
  }

}
@media (max-width: 430px) {
  .App-header h1 {
    font-size: 1.2em;
  }
  .cell {
    width: 5px;
    height: 5px;
  }
  .instructions {
    font-size: .8em;
  }
}

@media (min-width: 570px) {
  .controls {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}
